force-app/main/default/flows/RiskEvaluationQuestionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that invokes an expression set which applies rules and criteria for calculation the risk score and risk level of a change request.</description>
        <name>CalculateRiskScore</name>
        <label>Calculate Risk Score</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>ChangeRequestRiskScoreExpressionSet</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>UpdateRiskScoreAndRiskLevel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorWhenExpressionSetFails</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Related_Issue_Count</name>
            <value>
                <elementReference>Associations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Rollback_Question</name>
            <value>
                <elementReference>Rollback_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Schedule_Answer</name>
            <value>
                <elementReference>ChangeImplementationPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Implementation_Window_Length_Answer</name>
            <value>
                <elementReference>ImplementationDurationPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type_of_Data</name>
            <value>
                <stringValue>Questionnaire</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Test_Post_Implementation_Question</name>
            <value>
                <elementReference>Test_Implementation_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Affects_By_Change_Question</name>
            <value>
                <elementReference>Change_Affect_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type_Value</name>
            <value>
                <elementReference>GetChangeRequestRecord.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Implementation_Time_Taken_Answer</name>
            <value>
                <elementReference>ImplementationTimRequiredPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Implementation_Time_Taken_Question</name>
            <value>
                <elementReference>Implementation_Time_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Impact_Value</name>
            <value>
                <elementReference>GetChangeRequestRecord.Impact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Handling_Team_Experience_Question</name>
            <value>
                <elementReference>Implementation_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <elementReference>Change_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Complexity_Answer</name>
            <value>
                <elementReference>ChangeComplexityPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Environment_Stability_Answer</name>
            <value>
                <elementReference>EnvironmentStablePicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Medium</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Implementation_Window_Length_Question</name>
            <value>
                <elementReference>Implementation_Window_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Affects_By_Change_Answer</name>
            <value>
                <elementReference>ChangeImpactPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Schedule_Lead_Time_Value</name>
            <value>
                <elementReference>EstimatedLeadTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Test_Post_Implementation_Answer</name>
            <value>
                <elementReference>PostDeploymentTestPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Impact</name>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Schedule_Lead_Time</name>
            <value>
                <elementReference>ScheduledLT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Related_Issue_Count_Value</name>
            <value>
                <elementReference>RelatedIssueCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Complexity_Question</name>
            <value>
                <elementReference>Complexity_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Urgency</name>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Environment_Stability_Question</name>
            <value>
                <elementReference>Stability_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Redundancy_Plan_Answer</name>
            <value>
                <elementReference>ChangeRedundancyPlanPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Schedule_Question</name>
            <value>
                <elementReference>Scheduled_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Redundancy_Plan_Question</name>
            <value>
                <elementReference>Redundancy_Question</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Change_Rollback_Answer</name>
            <value>
                <elementReference>ChangeRollbackPicklist</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Urgency_Value</name>
            <value>
                <elementReference>GetChangeRequestRecord.Urgency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Handling_Team_Experience_Answer</name>
            <value>
                <elementReference>TeamExperiencePicklist</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChangeRequestRiskScoreExpressionSet</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to create ‌records from risk evaluation questionnaire responses that are used to calculate the risk score and risk level.</description>
        <name>CreateRiskEvalQstRespRec</name>
        <label>Create Risk Evaluation Questionnaire Response Records</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>riskAssessmentRecords</actionName>
        <actionType>riskAssessmentRecords</actionType>
        <connector>
            <targetReference>CalculateRiskScore</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorWhenCreateRiskEvaluationQuestionnaireResponseRecordsFails</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetChangeRequestRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>riskQuestionnaireData</name>
            <value>
                <elementReference>listOfResponses</elementReference>
            </value>
        </inputParameters>
        <nameSegment>riskAssessmentRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.0.0</versionString>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the value for the hasEvaluationFailed variable as True when the Create Risk Evaluation Questionnaire Response Records fails to execute.</description>
        <name>SetErrorWhenCreateRiskEvaluationQuestionnaireResponseRecordsFails</name>
        <label>Set Error When Create Risk Evaluation Questionnaire Response Records Fails</label>
        <locationX>704</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>hasEvaluationFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the value for the hasEvaluationFailed variable as True when the expression set that calculates the risk score fails to execute.</description>
        <name>SetErrorWhenExpressionSetFails</name>
        <label>Set Error When Expression Set Fails</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>hasEvaluationFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets values for the related issue count and estimated lead time for implementation of a change request.</description>
        <name>SetRiskEvaluationVariablesForChangeRequest</name>
        <label>Set Risk Evaluation Variables for Change Request</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RelatedIssueCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetChangeRequestRelatedIssueRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChangeRequestRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimatedLeadTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedLeadTimeInDaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedIssueCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedIssueCountRangeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimatedLeadTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedLeadTimeRangeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetValuesForRiskQuestionnaireResponses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the values for each question, its response, and whether it’s required or not in the risk evaluation questionnaire.</description>
        <name>SetValuesForRiskQuestionnaireResponses</name>
        <label>Set Values for Risk Questionnaire Responses</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Affect_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeImpactPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complexity_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeComplexityPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rollback_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeRollbackPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Redundancy_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeRedundancyPlanPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeImplementationPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Implementation_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamExperiencePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Implementation_Window_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImplementationDurationPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Implementation_Time_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImplementationTimRequiredPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stability_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnvironmentStablePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Implementation_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.isRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>riskEvaluationQuestionnaireResponses.response.responseValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostDeploymentTestPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>riskEvaluationQuestionnaireResponses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRiskEvalQstRespRec</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ability_to_test_fully</name>
        <choiceText>Fully testable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fully testable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ability_to_test_partially</name>
        <choiceText>Partially testable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partially testable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Adequate_Time_To_Implement</name>
        <choiceText>Adequate time to implement, verify, roll back, and deal with issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adequate time to implement, verify, roll back, and deal with issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complex</name>
        <choiceText>Complex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Easy</name>
        <choiceText>Easy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Easy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exceeding_Implementation_Window</name>
        <choiceText>Moderate risk of exceeding window to implement, verify, and roll back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderate risk of exceeding window to implement, verify, and roll back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expert</name>
        <choiceText>Expert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expert</stringValue>
        </value>
    </choices>
    <choices>
        <name>Familiar</name>
        <choiceText>Familiar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Familiar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insufficient_Time_To_Implement</name>
        <choiceText>Insufficient time to implement, verify, and roll back within the window</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insufficient time to implement, verify, and roll back within the window</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_hour</name>
        <choiceText>Less than an hour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than an hour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance_Window</name>
        <choiceText>Maintenance Window</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance Window</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moratorium_Window</name>
        <choiceText>Restricted Change Window</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restricted Change Window</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_Than_Four_Hours</name>
        <choiceText>More than 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_ability_to_test</name>
        <choiceText>Not testable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not testable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Business_Hours</name>
        <choiceText>Non-Business Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Business Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Peak_Business_Hours</name>
        <choiceText>Non-Peak Business Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Peak Business Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotCritical</name>
        <choiceText>Not Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotPossible</name>
        <choiceText>Not Possible</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Possible</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_To_Four_Hours</name>
        <choiceText>1 to 4 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 to 4 hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Peak_Business_Hours</name>
        <choiceText>Peak Business Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Peak Business Hours</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_Complex</name>
        <choiceText>Somewhat Complex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Complex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_Stable</name>
        <choiceText>Somewhat Stable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Stable</stringValue>
        </value>
    </choices>
    <choices>
        <name>SomewhatCritical</name>
        <choiceText>Somewhat Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stable</name>
        <choiceText>Stable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unstable</name>
        <choiceText>Unstable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unstable</stringValue>
        </value>
    </choices>
    <choices>
        <name>VeryCritical</name>
        <choiceText>Very Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the number of days  between the Created On date and the Estimated End Time date.</description>
        <name>EstimatedLeadTimeInDaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!GetChangeRequestRecord.EstimatedEndTime} - {!GetChangeRequestRecord.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Assigns a value to the estimated lead time based on specific thresholds. The formula returns 0 if the number of days is less than 6, returns 6 if the number is between 6 and 15, and returns 16 if the number is 16 or greater.</description>
        <name>EstimatedLeadTimeRangeFormula</name>
        <dataType>Number</dataType>
        <expression>IF((({!EstimatedLeadTime} &lt; 6) || ISNULL({!EstimatedLeadTime})), 0, IF({!EstimatedLeadTime} &lt; 16 &amp;&amp; {!EstimatedLeadTime} &gt;= 6, 6, 16))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Assigns a value to the related issue count based on specific thresholds. The formula returns same for counts lesser than or equal to 1, returns 2 for counts between 2 and 6, and 7 for counts greater than 6.</description>
        <name>RelatedIssueCountRangeFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!RelatedIssueCount} = 0, 0, IF({!RelatedIssueCount} = 1, 1, IF({!RelatedIssueCount} &lt;= 6, 2, 7)))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Questionnaire for Risk Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Evaluation Questionnaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the change request record with an ID that matches the changeRequestId passed into the flow. Stores the result in the Change Request from Get Change Request Record record variable.</description>
        <name>GetChangeRequestRecord</name>
        <label>Get Change Request Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChangeRequestRelatedIssueRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>changeRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChangeRequest</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>EstimatedEndTime</queriedFields>
        <queriedFields>Urgency</queriedFields>
        <queriedFields>Impact</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the incidents and problems related to the change request record.</description>
        <name>GetChangeRequestRelatedIssueRecords</name>
        <label>Get Change Request Related Issue Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCollectRiskEvaluationQuestionnaireDetailsForBasicInformation</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>changeRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the risk score and risk level fields of a change request based on the output from the Calculate Risk Score element.</description>
        <name>UpdateRiskScoreAndRiskLevel</name>
        <label>Update Risk Score and Risk Level</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>changeRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CalculatedRiskScore</field>
            <value>
                <elementReference>CalculateRiskScore.FinalRiskScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLevel</field>
            <value>
                <elementReference>CalculateRiskScore.FinalRiskLevel</elementReference>
            </value>
        </inputAssignments>
        <object>ChangeRequest</object>
    </recordUpdates>
    <screens>
        <description>Allows the flow user to provide responses to a risk evaluation questionnaire for questions related to the type of change, complexity, and other basic details.</description>
        <name>ScreenCollectRiskEvaluationQuestionnaireDetailsForBasicInformation</name>
        <label>Collect Risk Evaluation Questionnaire Details For Basic Information</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenCollectRiskEvaluationQuestionnaireDetailsForImplementationInformation</targetReference>
        </connector>
        <fields>
            <name>Required_Information</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(186, 5, 23);&quot;&gt;*&lt;/span&gt; = Required Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeRequestDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Change Request Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeImpactPicklist</name>
            <choiceReferences>VeryCritical</choiceReferences>
            <choiceReferences>SomewhatCritical</choiceReferences>
            <choiceReferences>NotCritical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How critical is the impact of this change on a configuration item (CI) or business service?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeComplexityPicklist</name>
            <choiceReferences>Complex</choiceReferences>
            <choiceReferences>Somewhat_Complex</choiceReferences>
            <choiceReferences>Easy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How complex is this change? (Consider the number of impacted CIs, tasks, and teams.)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeRollbackPicklist</name>
            <choiceReferences>NotPossible</choiceReferences>
            <choiceReferences>Complex</choiceReferences>
            <choiceReferences>Somewhat_Complex</choiceReferences>
            <choiceReferences>Easy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the level of difficulty to roll back this change?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeRedundancyPlanPicklist</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a redundancy plan in place for this change?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChangeImplementationPicklist</name>
            <choiceReferences>Maintenance_Window</choiceReferences>
            <choiceReferences>Non_Business_Hours</choiceReferences>
            <choiceReferences>Non_Peak_Business_Hours</choiceReferences>
            <choiceReferences>Peak_Business_Hours</choiceReferences>
            <choiceReferences>Moratorium_Window</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When is this change scheduled to be implemented?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to provide responses to a risk evaluation questionnaire for questions related to the implementation of change.</description>
        <name>ScreenCollectRiskEvaluationQuestionnaireDetailsForImplementationInformation</name>
        <label>Collect Risk Evaluation Questionnaire Details For Implementation Information</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetRiskEvaluationVariablesForChangeRequest</targetReference>
        </connector>
        <fields>
            <name>Required_Information_1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(186, 5, 23); background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; = Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TeamExperiencePicklist</name>
            <choiceReferences>Expert</choiceReferences>
            <choiceReferences>Familiar</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the implementation team’s experience with similar changes?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ImplementationDurationPicklist</name>
            <choiceReferences>Adequate_Time_To_Implement</choiceReferences>
            <choiceReferences>Exceeding_Implementation_Window</choiceReferences>
            <choiceReferences>Insufficient_Time_To_Implement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the duration of the implementation window?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ImplementationTimRequiredPicklist</name>
            <choiceReferences>Less_than_hour</choiceReferences>
            <choiceReferences>One_To_Four_Hours</choiceReferences>
            <choiceReferences>More_Than_Four_Hours</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many hours are required to implement this change?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EnvironmentStablePicklist</name>
            <choiceReferences>Stable</choiceReferences>
            <choiceReferences>Somewhat_Stable</choiceReferences>
            <choiceReferences>Unstable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the environment stable to support this change?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PostDeploymentTestPicklist</name>
            <choiceReferences>Ability_to_test_fully</choiceReferences>
            <choiceReferences>Ability_to_test_partially</choiceReferences>
            <choiceReferences>No_ability_to_test</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can the change be tested post deployment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetChangeRequestRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Associations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Number of Incidents /Problem associated</stringValue>
        </value>
    </variables>
    <variables>
        <name>Change_Affect_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>How critical is the impact of this change on a configuration item (CI) or business service?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Change_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Type</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of a change request passed into the flow.</description>
        <name>changeRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complexity_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>How complex is this change? (Consider the number of impacted CIs, tasks, and teams.)</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the number of days between the date on which a change request record is created and the estimated end date when the change is implemented.</description>
        <name>EstimatedLeadTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FinalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether the Create Risk Evaluation Questionnaire Response Records fails or succeeds.</description>
        <name>hasEvaluationFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Impact</stringValue>
        </value>
    </variables>
    <variables>
        <name>Implementation_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>What is the implementation team’s experience with similar changes?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Implementation_Time_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>How many hours are required to implement this change?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Implementation_Window_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>What is the duration of the implementation window?</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a collection of riskEvaluationQuestionnaireResponses records and is passed into the flow.</description>
        <name>listOfResponses</name>
        <apexClass>sc_itsm_risk_assmt__ResponseData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Priority</stringValue>
        </value>
    </variables>
    <variables>
        <name>Redundancy_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Is there a redundancy plan in place for this change?</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the number of incidents and problems associated with the change request in the Get Change Request Related Issue Records record collection.</description>
        <name>RelatedIssueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores an Apex record that contains the details of each question, its response, and whether the question is required or not.</description>
        <name>riskEvaluationQuestionnaireResponses</name>
        <apexClass>sc_itsm_risk_assmt__ResponseData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rollback_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>What is the level of difficulty to roll back this change?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Scheduled_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>When is this change scheduled to be implemented?</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScheduledLT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Schedule Lead Time</stringValue>
        </value>
    </variables>
    <variables>
        <name>Stability_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Is the environment stable to support this change?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Test_Implementation_Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Can the change be tested post deployment?</stringValue>
        </value>
    </variables>
    <variables>
        <name>Urgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Urgency</stringValue>
        </value>
    </variables>
</Flow>
